In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../6.-Hospital-Data-with-Mixed-Numbers-and-Characters.xlsx")

In [3]:
df.head()

,Description,Basic Unit,Beginning Balance,Quantity Received,Quantity Dispensed,Losses and Adjustments,Ending Balance (Physical Count)
0,Tab. Cefuroxime 250mg,10,1000,0,0,0,0
1,Tab. Cefuroxime 250mg,10,1000,0,0,0,0
2,Tab. Cefuroxime 250mg,10,1000,0,0,0,0
3,Cap Ampicillin,100,350,0,0,0,0
4,Cap Ampicillin,100,350,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5846 entries, 0 to 5845
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Description                      5846 non-null   object
 1   Basic Unit                       5846 non-null   object
 2   Beginning Balance                5846 non-null   object
 3   Quantity Received                5846 non-null   object
 4   Quantity Dispensed               5846 non-null   object
 5   Losses and Adjustments           5846 non-null   object
 6   Ending Balance (Physical Count)  5846 non-null   object
dtypes: object(7)
memory usage: 319.8+ KB

In [5]:
df.columns

Index(['Description', 'Basic Unit', 'Beginning Balance ', 'Quantity Received ',
       'Quantity Dispensed ', 'Losses and Adjustments',
       'Ending Balance (Physical Count)'],
      dtype='object')

## Inspect quantity and balance field see is there any invalid data

In [6]:
df.isnull().sum()

Description                        0
Basic Unit                         0
Beginning Balance                  0
Quantity Received                  0
Quantity Dispensed                 0
Losses and Adjustments             0
Ending Balance (Physical Count)    0
dtype: int64

In [7]:
# check quantity less than 0
df[(df['Quantity Received '] < 0) | (df['Quantity Dispensed '] < 0)]

TypeError: '<' not supported between instances of 'str' and 'int'

In [8]:
df.dtypes

Description                        object
Basic Unit                         object
Beginning Balance                  object
Quantity Received                  object
Quantity Dispensed                 object
Losses and Adjustments             object
Ending Balance (Physical Count)    object
dtype: object

### Found column type issue

In [9]:
import re

In [10]:
def str_to_num(value):
    if isinstance(value, str): # If you need to check the specific type of the elements in a column, you can use isinstance. This can be useful if you know the exact type of character data you're expecting (e.g., str).
        value = re.sub(r'o+|O+', '0', value)
        value = re.sub(r'i+|I+', '1', value)
        value = re.sub(r's+|S+', '5', value)        
        value = re.sub(r'\D', '', value)

    try:
        return int(value)
    except ValueError:
        return pd.NA

In [11]:
df['Beginning Balance '] = df['Beginning Balance '].apply(str_to_num)

In [12]:
df['Beginning Balance '].unique()

array([ 1000,   350,    30,     2,  4100,   410,  3300,   500,     0,
           1,  2500,  2000,   950,     3,   850,   800,  1750,  4750,
        1200,   900,  2800,  1100,  1700,  1780,   870,   200,  3000,
           5,   400,  1950,   700,   140,   600,    10,     8,   160,
         650,    90,   300,   550,    15,  4000,   170,   150,   120,
         125,   230,   100,   180,    99,  2400,   220,  1650,  1600,
         450,   705,     7,    60,     4,     6,    14,    50,  1800,
          40,  1900,    20,    11,     9,  1350,    17,   -10,    18,
          25,    96,    45,    70,    65,    26,   260,  1500,    80,
          16,    23,    75,   162,  2700,  2150,  1250,  1690,  1450,
          42,    51,  2300,  3600,  3125,   250,   375,  1375,  2600,
        3400,  1940,   275,   770,  6500,  5100,   280,  2315,   750,
       -1000,    33, 43617,   725,   560,   195,  1400,   270,   370,
        1225,   540,  2200,   585,   295,   310,  2100,   625,   680,
          21,    28,    27,    35,   130,  1300,   115,   165, 17000,
         330,    12,    24,   210,   780,   325,   360,    72,    92,
          82,  3500,    13,    43,    36,  4500,    85,  6100,   910,
          94,    48,    59,    46,    47,    37,    95,    32,    41,
          44,    34,   110,    38,    29,    67,    64,   580,   480,
         620,   440,   190,   940,   320,   430,   915,   175,  1125,
          39,    22,    31,    87,    73,    55,    62,   390,   290,
         135,   520,   640,   225,    63, 23000,    68,    98,   145,
          54], dtype=int64)

In [13]:
numeric_qty_received = pd.to_numeric(df['Quantity Received '], errors='coerce')
# Check for non-integer values and assign them to a variable
non_integer_qty_received = df['Quantity Received '][numeric_qty_received.isna()] 
print(non_integer_qty_received)

490        i
491     I000
605        s
835     20oo
1084     0.S
3812       O
4286       o
Name: Quantity Received , dtype: object

In [14]:
df['Quantity Received '] = df['Quantity Received '].apply(str_to_num)

In [15]:
df['Quantity Received '].unique()

array([    0,    10,    20,     1,   100,     3,     5,     2,     7,
           8,     4,  2000,  8000,  5000,  3000,  1000,    30,    12,
       10000,    50, 20000,     6,    80,    60,    70,    90,   120,
         200,   500,   300,    96,    40,   400,   130,   150,   140,
         180,    15,    14,    19,    13,    17,     9,    24,   800,
          22,   240,   600,    25,   160,   110], dtype=int64)

In [16]:
numeric_qty_dispensed = pd.to_numeric(df['Quantity Dispensed '], errors="coerce")
non_integer_qty_dispensed = df['Quantity Dispensed '][numeric_qty_dispensed.isna()]
print(non_integer_qty_dispensed)

numeric_loss_adj = pd.to_numeric(df['Losses and Adjustments'], errors="coerce")
non_integer_loss_aj = df['Losses and Adjustments'][numeric_loss_adj.isna()]
print(non_integer_loss_aj)

numeric_ending_bal = pd.to_numeric(df['Ending Balance (Physical Count)'], errors="coerce")
non_integer_ending_bal = df['Ending Balance (Physical Count)'][numeric_ending_bal.isna()]
print(non_integer_ending_bal)

9       i
1781    o
3352    O
3354    o
Name: Quantity Dispensed , dtype: object
2950    O
Name: Losses and Adjustments, dtype: object
9          i
491     i000
2508       O
5062       o
Name: Ending Balance (Physical Count), dtype: object

In [17]:
df['Quantity Dispensed '] = df['Quantity Dispensed '].apply(str_to_num)
df['Losses and Adjustments'] = df['Losses and Adjustments'].apply(str_to_num)
df['Ending Balance (Physical Count)'] = df['Ending Balance (Physical Count)'].apply(str_to_num)

In [18]:
df.dtypes

Description                        object
Basic Unit                         object
Beginning Balance                   int64
Quantity Received                   int64
Quantity Dispensed                  int64
Losses and Adjustments              int64
Ending Balance (Physical Count)     int64
dtype: object

In [19]:
df['Quantity Dispensed '].unique()

array([    0,   300,   600,     1,   500,    40,    12,   950,    10,
        2400,  4000,  4750,   850,  1700,  1800,   900,  2800, 14000,
       16000, 10000,  5250,  7000,   870,  1740,     7,     2,  1000,
        3000,    30,  5000,     3,   200,     9,    50,  2000,    70,
         140,     4,   160,   650,    20,   550,  6000,   100,   250,
           8,     5,  1020,  1200, 13600,  3600,  9000, 12000,     6,
         450,    15, 36000,  9600,  3525,  7050,  8460,   350,   400,
         700,    14,   150,    17,    28,    25,    11,    45,    13,
          60,    80,    69,    90,   260,    21, 11700,  2100,   230,
        1400,   980, 10500,  6480, 29160, 16200,  5400,  1600,    18,
       10750,  2500,  5070,  8450,  9450,    36,    34,    65,    67,
        3750,  2750,  5200,  1375,  1100,  2200,  2310,  3850, 15000,
       21000,  7200, 11400,  5100,   840,   860,   320,   750,  1650,
        5800,  7250,  4800, 44000,  5600,  3675,  2700,  3250,  1500,
       17500,  9300, 12400,  7500,    16,  1260,  3060, 16250,   575,
        1150,   825, 13500,  1470,   420,  4200,  2520,  7650,  2250,
        3500,    35,    82,  2550,  4500,  1750,  3700,  7400, 11200,
          26,   104,   800,    22,   460,    43,    42,    24,    27,
         330,    23,   110,    76,  8700,   675, 14400,  8000,  4320,
       24000,  3200,  2240,  2160,   480,  1440,  1360,  1050,  1350,
          87,    29,    59,  6400, 22400, 28800,    57,    89, 18700,
       11000,   135,    79,    33,    48,    38,  7800,  3900, 25600,
       19200, 32400, 25200,  6500, 23000,    32,    51,  3400,  4650,
        6200,  4350], dtype=int64)

In [20]:
df['Losses and Adjustments'].unique()

array([  0,  20,   1,  10,  15,   2,   7,  50, 100,  24,  30, 200,   5,
         3,  40, 150,   4,  17,  49,  12,  96,  36,  60,  48,  25,  19,
       160,   8, 300], dtype=int64)

In [21]:
df['Ending Balance (Physical Count)'].unique()

array([    0,    30,    20,     1,    60,     8,     3,    10,    18,
          15,     2,    17,    14,   200,  1000,   500,  3000,    13,
        4000,  2000,     9,  1900,  1950,     5,   930,   700,   300,
        5000,     6,     4,  6000, 32021,    70, 14000,    11,   400,
         150,   350,  1500,    50,   100,    80,    24,    40,   110,
          90,   120,    99,   550,    92,    95,    16,    12,   650,
           7,   600,   270,  1800,  1400,  1600,    27,    22,    83,
         130,    72,   380,    45,    25,   260,    31,    87,   199,
          39,   140,   180,    82,    64,    66,   170,    75,    33,
          38,    42,  7000,    19,  1140,    32,    35,    21,    28,
          26,    65,    67,    46,    59,    53,    49,    44,    56,
          47,    43,    37,   250,    36,    41,    34,   160,    23,
         190,    29,    51,    98,    96,    48,   220,   240,   121,
          62,    55,    73,    68,    93], dtype=int64)