In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("..\8.-Invoices-with-Merged-Categories-and-Merged-Amounts.xlsx")
df.head(10)

,Order ID,Category,Amount
0,CA-2011-167199,Binders | Art | Phones | Fasteners | Paper,609.98 | 5.48 | 391.98 | 755.96 | 31.12
1,CA-2011-149020,Office Supplies | Furniture,2.98 | 51.94
2,CA-2011-131905,Office Supplies | Technology | Technology,7.2 | 42.0186 | 42.035
3,CA-2011-127614,Accessories | Tables | Binders,234.45 | 1256.22 | 17.46
4,CA-2011-112352,Stationery | Furniture,54.35
5,CA-2011-105898,Art,5.48 | 65.58

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order ID  6 non-null      object
 1   Category  6 non-null      object
 2   Amount    6 non-null      object
dtypes: object(3)
memory usage: 276.0+ bytes

In [4]:
df["Category"] = df['Category'].str.split("|")
df["Amount"] = df["Amount"].astype(str).str.split("|")

In [5]:
df = df.explode(["Category", "Amount"])

ValueError: columns must have matching element counts

# Found columns not matching element counts

In [6]:
print(df)

         Order ID                                          Category  \
0  CA-2011-167199  [Binders ,  Art ,  Phones ,  Fasteners ,  Paper]
1  CA-2011-149020                    [Office Supplies ,  Furniture]
2  CA-2011-131905     [Office Supplies ,  Technology ,  Technology]
3  CA-2011-127614                [Accessories ,  Tables ,  Binders]
4  CA-2011-112352                         [Stationery ,  Furniture]
5  CA-2011-105898                                             [Art]

                                          Amount
0  [609.98 ,  5.48 ,  391.98 ,  755.96 ,  31.12]
1                                [2.98 ,  51.94]
2                     [7.2 ,  42.0186 ,  42.035]
3                   [234.45 ,  1256.22 ,  17.46]
4                                        [54.35]
5                                [5.48 ,  65.58]

In [7]:
def pad_lists(row):
    
    # Calculate the maximum length between the two lists
    max_len = max(len(row['Category']), len(row['Amount']))
    
    # Pad both lists with None to match the maximum length
    row['Category'] += [None] * (max_len - len(row['Category']))
    row['Amount'] += [None] * (max_len - len(row['Amount']))
    
    return row

In [8]:
df

,Order ID,Category,Amount
0,CA-2011-167199,"[Binders , Art , Phones , Fasteners , Paper]","[609.98 , 5.48 , 391.98 , 755.96 , 31.12]"
1,CA-2011-149020,"[Office Supplies , Furniture]","[2.98 , 51.94]"
2,CA-2011-131905,"[Office Supplies , Technology , Technology]","[7.2 , 42.0186 , 42.035]"
3,CA-2011-127614,"[Accessories , Tables , Binders]","[234.45 , 1256.22 , 17.46]"
4,CA-2011-112352,"[Stationery , Furniture]",[54.35]
5,CA-2011-105898,[Art],"[5.48 , 65.58]"

In [9]:
df['Category'] = df['Category'].apply(lambda x: x if isinstance(x, list) else [])
df['Amount'] = df['Amount'].apply(lambda x: x if isinstance(x, list) else [])

df.apply(pad_lists, axis=1) # axis=1, every row

,Order ID,Category,Amount
0,CA-2011-167199,"[Binders , Art , Phones , Fasteners , Paper]","[609.98 , 5.48 , 391.98 , 755.96 , 31.12]"
1,CA-2011-149020,"[Office Supplies , Furniture]","[2.98 , 51.94]"
2,CA-2011-131905,"[Office Supplies , Technology , Technology]","[7.2 , 42.0186 , 42.035]"
3,CA-2011-127614,"[Accessories , Tables , Binders]","[234.45 , 1256.22 , 17.46]"
4,CA-2011-112352,"[Stationery , Furniture]","[54.35, None]"
5,CA-2011-105898,"[Art, None]","[5.48 , 65.58]"

In [10]:
df = df.explode(["Category", "Amount"])

In [11]:
df[df['Amount'].isna()]

         Order ID    Category Amount
4  CA-2011-112352   Furniture   None

In [12]:
df.fillna({ 'Amount': 0}, inplace=True)

In [13]:
df

         Order ID          Category     Amount
0  CA-2011-167199          Binders     609.98
0  CA-2011-167199              Art       5.48
0  CA-2011-167199           Phones     391.98
0  CA-2011-167199        Fasteners     755.96
0  CA-2011-167199             Paper      31.12
1  CA-2011-149020  Office Supplies       2.98
1  CA-2011-149020         Furniture      51.94
2  CA-2011-131905  Office Supplies        7.2
2  CA-2011-131905       Technology    42.0186
2  CA-2011-131905        Technology     42.035
3  CA-2011-127614      Accessories     234.45
3  CA-2011-127614           Tables    1256.22
3  CA-2011-127614           Binders      17.46
4  CA-2011-112352       Stationery       54.35
4  CA-2011-112352         Furniture          0
5  CA-2011-105898               Art      5.48
5  CA-2011-105898              None      65.58

In [14]:
df = df.drop_duplicates()

In [15]:
df = df.reset_index(drop=True)
print(df)

          Order ID          Category     Amount
0   CA-2011-167199          Binders     609.98
1   CA-2011-167199              Art       5.48
2   CA-2011-167199           Phones     391.98
3   CA-2011-167199        Fasteners     755.96
4   CA-2011-167199             Paper      31.12
5   CA-2011-149020  Office Supplies       2.98
6   CA-2011-149020         Furniture      51.94
7   CA-2011-131905  Office Supplies        7.2
8   CA-2011-131905       Technology    42.0186
9   CA-2011-131905        Technology     42.035
10  CA-2011-127614      Accessories     234.45
11  CA-2011-127614           Tables    1256.22
12  CA-2011-127614           Binders      17.46
13  CA-2011-112352       Stationery       54.35
14  CA-2011-112352         Furniture          0
15  CA-2011-105898               Art      5.48
16  CA-2011-105898              None      65.58